<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>434093428509-0rcr7bmk8qboqk5gat6nt5i3f1rmffeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434093428509-0rcr7bmk8qboqk5gat6nt5i3f1rmffeq</string>
	<key>API_KEY</key>
	<string>AIzaSyDHQGupAk41ibkHbo6-6-T_Mot-vg7oFaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>434093428509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.flutterfirestoredemo</string>
	<key>PROJECT_ID</key>
	<string>loginsignupapp-3eef5</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsignupapp-3eef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434093428509:ios:fc6e665581b475fa</string>
	<key>DATABASE_URL</key>
	<string>https://loginsignupapp-3eef5.firebaseio.com</string>
</dict>
</plist>